<div class="accordion">
	<div class="accordion-group">
    	<div class="accordion-heading">
    		<h4><a class="accordion-toggle" data-toggle="collapse" data-target="#forgot_password" href="#">
  				Forgot Password?
			</a></h4>
		</div>
	
		<div id="forgot_password" class="accordion-body collapse out">
			<div class="accordion-inner">
				<p>Enter your email address below to reset your password via email.</p>
 				<%= form_tag password_resets_path, class: "form-inline", :method => :post do %>
				  		<%= label :email,t('new.session.form.email'), class: "required control-label"%>
						<%= text_field_tag :email %>
						<%= submit_tag "Reset my password!",class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
