
<ul id="tab" class="nav nav-tabs" >
	<li class="active">
		<a href="#map" data-toggle="tab">Map Search</a>
	</li>
	<li>
   		<a href="#quick" data-toggle="tab">Quick Search</a>
   	</li>
	<li>
   		<a href="#advanced" data-toggle="tab">Advanced</a>
   	</li>
</ul>

<div class="tab-content">
  	<div class="tab-pane fade in active" id="map">
    	<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=spain&amp;sll=53.800651,-4.064941&amp;sspn=19.753319,63.325195&amp;ie=UTF8&amp;hq=&amp;hnear=Spain&amp;t=m&amp;z=6&amp;ll=40.463667,-3.74922&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=spain&amp;sll=53.800651,-4.064941&amp;sspn=19.753319,63.325195&amp;ie=UTF8&amp;hq=&amp;hnear=Spain&amp;t=m&amp;z=6&amp;ll=40.463667,-3.74922" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
	<div class="tab-pane fade" id="quick">      
    	<input type="text" class="search-query" type="search" placeholder="Type a city name" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
	</div>
  	<div class="tab-pane fade" id="advanced">
    	<p>This is the third one</p>
    </div>
</div>