<div class="row">
	<div class="span7">	
		<% if @user.errors.any? %>
    		<% for message in @user.errors.full_messages %>		
      			<li><%= message %></li>
    		<% end %>
		<% end %>
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>
	<div class="span5">	
		<div class="well">
			<form class="form-horizontal">
				<fieldset>
					<legend>Already using one of these?</legend>
					<p class="help-block">Select an existing provider for a no hassle sign up!</p>
				</fieldset>
			</form>
		</div>
	</div>
</div>

				