<script>
			$(document).ready( function() {

				//BASIC
				$(".password_test").passStrength({
					userid:	"#user_id"
					});
				
				//ADVANCED
				$(".password_adv").passStrength({
					shortPass: 		"top_shortPass",
					badPass:		"top_badPass",
					goodPass:		"top_goodPass",
					strongPass:		"top_strongPass",
					baseStyle:		"top_testresult",
					userid:			"#user_id_adv",
					messageloc:		0
				});
			});
		</script>


<div class="row">
	<div class="span7">		
			<%= render 'form' %>
	</div>
	<div class="span5">	
		<div class="well">
			<form class="form-horizontal">
				<fieldset>
					<legend>Already using one of these?</legend>
					<p class="help-block">Select an existing provider for a no hassle sign up!</p>
				</fieldset>
			</form>
		</div>
	</div>
</div>