<div class="carousel clearfix">
	<div class="panel">
		<div class="details_wrapper">
			<div class="details">
			
				<div class="detail">
					<h2 class="Lexia-Bold"><a href="#">Kick ass property in Costa del Sol</a></h2>
					<p>Sociis natoque penatibus et magnis dis parturient montes</p
					<a href="#" title="Read more" class="more">Read more</a>
				</div><!-- /detail -->
				
				<div class="detail">
					<h2 class="Lexia-Bold"><a href="#">Simply gorgeous cottage in Whitby</a></h2>
					<p>Sociis natoque penatibus et magnis dis parturient montes</p
					<a href="#" title="Read more" class="more">Read more</a>
				</div><!-- /detail -->
				
				<div class="detail">
					<h2 class="Lexia-Bold"><a href="#">Stunning Long term let in Murcia</a></h2> 
					<p>Sociis natoque penatibus et magnis dis parturient montes</p
					<a href="#" title="Read more" class="more">Read more</a>
				</div><!-- /detail -->
			</div><!-- /details -->
		</div><!-- /details_wrapper -->
				
		<div class="paging">
			<div id="numbers"></div>
			<a href="javascript:void(0);" class="previous" title="Previous" >Previous</a>
			<a href="javascript:void(0);" class="next" title="Next">Next</a>
		</div><!-- /paging -->
				
		<a href="javascript:void(0);" class="play" title="Turn on autoplay">Play</a>
		<a href="javascript:void(0);" class="pause" title="Turn off autoplay">Pause</a>
		
		</div><!-- /panel -->
	
		<div class="backgrounds">
			<div class="c_item item_1">
				<object width="604" height="340"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=10930565&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=10930565&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="604" height="340" wmode="transparent"></embed></object>
			</div><!-- /item -->
				
			<div class="c_item item_2">
				<object width="604" height="340"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=12257932&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=12257932&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="604" height="340" wmode="transparent"></embed></object>
			</div><!-- /item -->
			
			<div class="c_item item_3">
					
		</div><!-- /item -->				
	</div><!-- /backgrounds -->
</div><!-- /carousel --> 