<script>
	$('tab').tab('show')
</script>

<ul id="tab" class="nav nav-tabs" >
	<li class="active">
		<a href="#map" data-toggle="tab">Map Search</a>
	</li>
	<li>
   		<a href="#quick" data-toggle="tab">Quick Search</a>
   	</li>
	<li>
   		<a href="#advanced" data-toggle="tab">Advanced</a>
   	</li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="map">
       <p>This is the first one</p>
      	</div>
  <div class="tab-pane fade" id="quick">      
      <p>This is the second one</p>
       </div>
  <div class="tab-pane fade" id="advanced">
      <p>This is the third one</p>
     </div>
</div>



 