<script>
	$('tab').tab('show')
</script>

<ul id="tab" class="nav nav-tabs" >
	<li class="active">
		<a href="#map" data-toggle="tab">Map Search</a>
	</li>
	<li>
   		<a href="#quick" data-toggle="tab">Quick Search</a>
   	</li>
	<li>
   		<a href="#advanced" data-toggle="tab">Advanced</a>
   	</li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="map">
       <p>Interactive Google Map to go here</p>
      	</div>
  <div class="tab-pane fade" id="quick">      
            <input type="text" class="search-query" type="search" placeholder="Type a city name" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
  </div>
  <div class="tab-pane fade" id="advanced">
      <p>This is the third one</p>
     </div>
</div>



 