<script>
	$('tab').tab('show')
</script>

<ul id="tab" class="nav nav-tabs" >
	<li class="active">
   		<a href="#home" data-toggle="tab">Home</a>
	</li>
   <li><a href="#profile" data-toggle="tab">Profile</a></li>
  <li><a href="#messages" data-toggle="tab">Messages</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="home">
       <p>This is the first one</p>
      	</div>
  <div class="tab-pane fade" id="profile">      
      <p>This is the second one</p>
       </div>
  <div class="tab-pane fade" id="messages">
      <p>This is the third one</p>
     </div>
</div>



 