

<div class="modal hide fade" id="terms">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Terms and Conditions</h3>
  </div>
  <div class="modal-body">
    <p>Legal Mumbo Jumbo</p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
  </div>
</div>