<footer>
  <nav class="round">
    	<ul>
			<li><a data-toggle="modal" href="#legal" >Legal</a></li>
		</ul>
	</nav>
</footer>
<!-- Modals -->
<%= render 'modals/login' %>
<%= render 'modals/legal' %>
<%= render 'modals/terms' %>
