<footer>
  <nav class="round">
    	<ul>
			<li><%= link_to "Who We Are", "#" %> |</li>
	  		<li><%= link_to "Contact Us", "#" %> |</li>
	  		<li><a data-toggle="modal" href="#legal" >Legal</a></li>
		</ul>
	</nav>
</footer>
<!-- Modals -->
<%= render 'modals/legal' %>
<%= render 'modals/terms' %>
