<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">  
      <%= link_to "cloudlets.co.uk", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
       		<li><%= link_to "Who We Are", "#" %></li>
          	<li><%= link_to "Contact Us", "#" %></li>
          	<li><a data-toggle="modal" href="#register" >Register</a></li>
          	<li><a data-toggle="modal" href="#login" >Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

