<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">  
    		<%= link_to "cloudlets.co.uk", root_path, id: "logo" %>
    		<%= render "layouts/menu" %>
    	</div>
	</div>
</header>

